.material-icons.md-18 {
  font-size: 18px; 
}
.material-icons.md-20 {
  font-size: 20px; 
}
.material-icons.md-24 {
  font-size: 24px; 
}
.material-icons.md-30 {
  font-size: 30px; 
}
.material-icons.md-36 {
   font-size: 36px; 
}
.material-icons.md-48 {
   font-size: 48px; 
}
.material-icons.green600 { 
  color: rgb(64, 126, 7);
 }
 .material-icons.darken { 
  color: rgb(0, 0, 0);
 }
 .material-icons.ligth { 
  color: rgb(255, 255, 255);
 }
 .material-icons.yellow300, .material-link.yellow300 { 
  color: #ffeb3b;
 }
 .material-icons.green300, .material-link.green300 { 
  color: #4caf50;
 }
 .material-icons.blue300, .material-link.blue300 { 
  color: #2196f3;
 }
 .material-icons.red300, .material-link.red300 { 
  color: #f44336;
 }
 .material-icons.blue600, .material-link.blue600 { 
  color: #2962ff;
 }
 .MyIcon1 {
  margin-top: -12px;
  margin-right: 7px;
  color:black;
 }
 .MyIcon2 {
  margin-top: -10px;
  min-width: 85px;
 }
 .MyIcon3 {
  margin-top: -14px;    
  top: 15%;
  left: 20%;
  transform: translate(-15%, 30%);
  transition: 0.5s;
 }
.inputBox2
{
    background-color: #2196f3;
    color: #fff;
    padding: 18px 10px;
    margin-top: 10px;
    width: 200px;
    border-radius: 25px;
    transition: 0.5s;
}
.inputBtn
{    
    color: #000;
    padding: 18px 10px;
    margin-top: 10px;
    width: 100px;
    border-radius: 25px;
    transition: 0.5s;
}
.inputBtn:focus,
.inputBtn:hover
{    
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 18px 10px;
    margin-top: 10px;
    width: 300px;
    border-radius: 25px;
    transition: 0.5s;
}
.inputBtn2
{    
    color: #000;
    padding: 18px 10px;
    margin-top: 10px;
    width: 230px;
    border-radius: 25px;
    transition: 0.5s;
}
.inputBtn2:focus,
.inputBtn2:hover
{    
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 18px 10px;
    margin-top: 10px;
    width: 230px;
    border-radius: 25px;
    transition: 0.5s;
}
.MyBt:focus,
.MyBt:hover{  
  background: transparent;
  color: #fff;
  padding: 18px 10px;  
  border-radius: 25px;
  transition: 0.5s;  
}
.MyBt{
  text-align: center;
  background: #fff;
  padding: 18px 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;  
  margin-bottom: 30px;  
  transition: 0.5s;  
}
.CardA1 {
  text-shadow: none; 
  padding: 0px 10px; 
}
.CardA {
  padding: 0px 10px;
  text-shadow: none;
  
}
.CardA i, .CardA1 i{  
  margin-left: 2px;
  padding: 5px;
  top: 15%;
  left: 50%;
  transform: translate(-5%, 15%);
}
.fixx {
  width: 100%;
  position: fixed;
}
.CardB {    
  font-family: 'Paytone One', sans-serif;
  font-family: 'Baloo', cursive;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;       
  font-weight: bold;
}
.CardD {
  background-color: #cfd8dc;
  border-radius: 115px;
  min-width: 510px;   
}
.CardN {
  text-shadow: none;
}
.CardN h5{
  text-align: center;
  font-family: 'Arial', cursive;
  color: rgb(170, 19, 52);
}
.CardN h6, a{  
  font-family: 'Arial', cursive;  
}
.tempo{
  text-align: justify;  
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-150%, 1%);
  width: 350px;
  padding: 10px;
  background: rgba(255,255,255, 0.6);
  box-sizing: border-box;
  box-shadow: 10px 25px 25px rgba(0,0,0, 1);
  border-radius: 10px;
  font-weight: bold;  
}
.c{
  text-align: center;
}
.backgroundNav{
  background-color: rgb(8, 92, 40);    
  padding: 10px;
  text-align: center;
  background: url(../img/bak6.jpg);  
  color: #fff;
  text-shadow: 0.2em 0.2em 0.3em black      
}